main {
    display: flex;
    justify-content: flex-start;
    color:azure;
}

#addCharacter, #addDrawer {
    background-color: rgba(20, 19, 18, 0.795);
    height: 90%;
    width: 30%;
    padding: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    padding: 20px;
}

input {
    height: 30px;
    font-size: 20px;
    padding: 6px;
}

#submit {
    width: 110px;
    height: 50px;
    background-color: rgba(54, 243, 243, 0.959);
    border: 1px solid rgb(22, 21, 21);
    color: rgb(8, 8, 8);
    font-size: 23px;
    border-radius: 2px;
}

#submit:hover {
    background-color: rgb(8, 30, 153);
    color: white;
}

#drawer {
    font-size: 20px;
    padding: 6px;
}