main {
    height: 100%;
    background-image: url("https://cdn.wallpapersafari.com/88/40/Z19rY3.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f8d602;
    padding-top: 50px;
    z-index: 1;
}


h2 {
    text-transform:uppercase;
    color: white;
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    font-family:fantasy
}
