main {
    height: 100%;
    color: black;
    font-size: xx-large;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url("https://st2.depositphotos.com/6916984/11842/v/950/depositphotos_118425176-stock-illustration-comics-book-background.jpg");
    font-style: italic;
    background-position: center;
    background-size: cover;
    justify-content: center;
}