.form-group {
    margin-top: 10px;
}

.row {
    justify-content: center;
}

main {
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://2.bp.blogspot.com/-ksmUFsaaYVc/XMmyWDNDWsI/AAAAAAAACGI/RTq4ZahVxL4B_Odj19kCfRrE8EEjf3V3wCKgBGAs/w1920-h1200-c/deadpool-uhdpaper.com-4K-127.jpg');
    padding-top: 50px;
}

h4 {
   
    text-align: center;
    color: white;
}

.label {
    font-size: 1.2rem;
    color: goldenrod;
}

.form-group {
    margin-top: 2rem;
}

a {
    color: #0d6efd;
    text-decoration: none;
    font-size: large;
    font-weight: 600;
}