* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.4rem;
}

span.connect {
    color: goldenrod;
    font-style: normal;
    font-size: larger;
}

.title-top {
    background-color: rgb(78, 78, 78);
    text-decoration: none;
    text-align: center;
    color: white;
}

.planet {
    color: white;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: rgb(12, 12, 12);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 214, 182, 0.699);
}

main {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

footer {
    background-color: black;
    display: flex;
    font-style:normal;
    height: 5vh;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 2;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #090001;
    color: white;
    padding: 1px 30px;
    border-bottom: 3px solid #fff;
}

.brand-title {
    display: flex;
    height: 70px;
    font-size: 2rem;
    margin: .5rem;
    font-family: 'Roboto Condensed', sans-serif;
}

img.img {
    display: flex;
    height: 65px;
}

.brand-title a{
    text-decoration: none;
    display: block;
    color: white;
}

.navbar-links {
    height: 100%;
    font-family: 'PT Sans', sans-serif;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}


.navbar-links li a {
    display: block;
    color: #fff;
    padding: 1rem;
    font-weight: 800;
    font-size: large;
    text-decoration: none;
    border-radius: 99px;
}


.navbar-links li a:hover {
    background-color: cornflowerblue;
}

.toggle-button {
    position: absolute;
    top: 2.6rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* Le rôle de la requête multimédia est que, si certaines conditions 
sont remplies, exécutez le code de l'intérieur, et sinon, ne le faites pas. */

@media (max-width: 1000px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    /* Le menu hamburger sera visible */
    .toggle-button {
        display: flex;
    }

    /* Maintenant, les liens vont disparaître */
    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

